@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Projeto Basico e introdutorio em C# feito por um academico seguindo um tutorial do curso da Udemy de C#.</p>
